* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
  }
  
  /* Header Nav */
  #nav{
    position: fixed; /* Alterado para tornar a barra de navegação fixa */
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 1.5rem;
    z-index: 2;
  }
  
  ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  #nav a{
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin: auto;
  }
  
  #nav li {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    transition: color 0.3s ease;
  }
  
  #nav li:hover {
    color: #A69580; /* Cor da linha ao passar o mouse */
  }
  
  #nav li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Espessura da linha de sublinhado */
    background-color: #A69580; /* Cor da linha por padrÃ£o */
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Inicialmente, a linha tem largura zero */
    transition: transform 0.3s ease;
  }
  
  #nav li:hover::after {
    transform: scaleX(1); /* Ao passar o mouse, a linha se expande */
    transform-origin: bottom left;
  }
  /* Fim do header nav */
  section {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  section .navigation {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section .navigation p{
    font-size: 18px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
  }
  
  section .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
  }
  
  section .navigation li:hover {
    opacity: 1;
  }
  
  section .navigation li img {
    width: 120px;
    transition: 0.5s;
  }
  
  section .navigation li img:hover {
    width: 200px;
  }
  
  section .navigation p{
    text-align: center;
  }
  
  .Mobile{
    display: none;
  }
  
  
  @media screen and (max-width: 768px){
  
  .nav{
    display: none;
  }
    .Mobile{
      display: block;
      height: 100%;
      width: 100%;
    }
  
    .title h1{
      color: #FAC629;
      font-family: 'Barlow Condensed', sans-serif;
      letter-spacing: 4px;
      margin-bottom: -50px;
      text-align: center;
      margin-top: -10px;
    }
    
    .carousel-container {
      width: 100%;
      padding-block: 16px 32px;
      margin-top: -270px;
      overflow-x: auto;
      display: flex;
      gap: 35px;
      align-items: center;
    }
    
    .carousel-container::-webkit-scrollbar {
      height: 14px;
      width: calc(100% - 48px);
    }
    
    .carousel-container::-webkit-scrollbar-track {
      background: #b1b3b399;
    }
    
    .carousel-container::-webkit-scrollbar-thumb {
      background: #402422;
    }
    
    .carousel-container::-webkit-scrollbar-track-piece:start {
      background:#b1b3b399 ;
    }
    
    .carousel-slide {
      flex: 1 0 30%;
      aspect-ratio: 1;
      flex-flow: column nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      border-radius: 8px;
    }
    
    .carousel-slide img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      border-radius: 8px;
    }
    
    .mensagem {
      font-size: 15px;
      color: white;
      border-radius: 5px;
      display: none;
      text-align: center;
      font-family: 'Barlow Condensed', sans-serif;
    }
    
    .carousel-slide:hover .mensagem {
      display: block;
    }
    
    .carousel-slide img{
      -webkit-filter:grayscale(0%);
    }
    
    .carousel-slide img:hover{
      -webkit-filter:grayscale(90%);
      transition: 1s;
    }
  }
  